@model SearchFormViewModel
<!-- Tabs -->
<ul class="nav nav-tabs nav-tabs-light mb-4">
    <li class="nav-item"><a class="nav-link active" href="#">Все</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Новые</a></li>
    <li class="nav-item"><a class="nav-link" href="#">С пробегом</a></li>
</ul>
<!-- Form group -->
<form class="form-group form-group-light d-block" method="post" asp-area="" asp-controller="Home" asp-action="Search">
    <div class="row g-0 ms-lg-n2">
        <div class="col-lg-5">
            <div class="input-group border-end-lg border-light dropdown">
                <span class="input-group-text text-muted ps-2 ps-sm-3"><i class="fi-search"></i></span>
                <input class="form-control dropdown-toggle" type="text" asp-for="@Model.Generations" placeholder="Ключевые слова..." >
                <div class="dropdown-menu w-100">

                </div>
            </div>
        </div>
        <hr class="hr-light d-sm-none my-2">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="input-group border-end-lg border-light dropdown">
                <span class="input-group-text text-muted ps-2 ps-sm-3"><i class="fi-map-pin"></i></span>
                <input class="form-control dropdown-toggle" type="text" asp-for="@Model.Regions" placeholder="Регион" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <div class="dropdown-menu w-100">

                </div>
            </div>
        </div>
        <hr class="hr-light d-lg-none my-2">
        <div class="col-lg-2">
            <button class="btn btn-primary w-100" type="submit">Найти</button>
        </div>
    </div>
</form>