@{
    ViewData["Title"] = "Главная";
}
@section StylePage
{

}
<!-- Page content -->
@await Html.PartialAsync("_SearchForm")
@await Html.PartialAsync("_BodyTypeSelection")
@await Html.PartialAsync("_TopOffers")
@await Component.InvokeAsync(typeof(Brands))
@await Html.PartialAsync("_Features")
@await Html.PartialAsync("_LatestCars")
@await Html.PartialAsync("_CTA")
@await Html.PartialAsync("_MobileAppCTA")
@await Html.PartialAsync("_LatestNews")
@section ScriptPage
{
    <script type="text/javascript" asp-append-version="true">
        $('input[type="search"][name="Generations"]').on('input', function (e) {
            $.ajax({
                url: '/Generations',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify($(this).val()),
                success: function (data) {
                    $('#dropdownMenuSearchGenerations').html();
                    $('#dropdownMenuSearchGenerations').html(data.map(generation => {
                        return `<a class="dropdown-item">${generation}</a>`;
                    }).join(''));

                    $('#dropdownMenuSearchGenerations').children('a.dropdown-item').each(function () {
                        $(this).on('click', function () {
                            $('input[type="search"][name="Generations"]').val($(this).text());
                        });
                    });
                }
            });
        });

        $('input[type="search"][name="Regions"]').on('input', function (e) {
            $.ajax({
                url: '/Regions',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify($(this).val()),
                success: function (data) {
                    $('#dropdownMenuSearchRegions').html();
                    $('#dropdownMenuSearchRegions').html(data.map(region => {
                        return `<a class="dropdown-item">${region}</a>`;
                    }).join(''));

                    $('#dropdownMenuSearchRegions').children('a.dropdown-item').each(function () {
                        $(this).on('click', function () {
                            $('input[type="search"][name="Regions"]').val($(this).text());
                        });
                    });
                }
            });
        });
    </script>
}