@model Pagination
<nav class="d-md-flex justify-content-between align-items-center border-top pt-3" aria-label="Page navigation example">
    <div class="text-center text-md-left mb-3 mb-md-0 dataTables_info">
        @Model.GetFormattedStringRange()
    </div>
    <ul class="pagination mb-0 pagination-shop justify-content-center justify-content-md-start">
        @foreach (var item in Model.GeneratePagination())
        {
            <li class="paginate_button page-item @(Model.NumberPage == item ? "active" : "")">
                <a class="page-link" style="cursor: pointer;" data-number-page="@item">
                    @item
                </a>
            </li>
        }
    </ul>
</nav>