<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/images/logo.png" style="width: 35px; height: 35px;" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">CatalogCars</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Панель администратора</div>
            </a>
            <ul>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="bx bx-right-arrow-alt"></i>Главная
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-label">
            База данных
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Availabilities" asp-action="Index">
                <div class="menu-title">Виды доступности</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="BodyTypeGroups" asp-action="Index">
                <div class="menu-title">Классификация автомобильных кузовов</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="BodyTypes" asp-action="Index">
                <div class="menu-title">Типы автомобильных кузовов</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
                <div class="menu-title">Категории</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Colors" asp-action="Index">
                <div class="menu-title">Цвета</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="ColorTypes" asp-action="Index">
                <div class="menu-title">Типы цвета</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Coordinates" asp-action="Index">
                <div class="menu-title">Координаты</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Currencies" asp-action="Index">
                <div class="menu-title">Валюты</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="EngineTypes" asp-action="Index">
                <div class="menu-title">Типы двигателей</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="GearTypes" asp-action="Index">
                <div class="menu-title">Типы привода</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Generations" asp-action="Index">
                <div class="menu-title">Поколения</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Locations" asp-action="Index">
                <div class="menu-title">Локации</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Marks" asp-action="Index">
                <div class="menu-title">Марки</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Models" asp-action="Index">
                <div class="menu-title">Модели</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Options" asp-action="Index">
                <div class="menu-title">Опции</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Phones" asp-action="Index">
                <div class="menu-title">Номера телефонов</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="PhotoClasses" asp-action="Index">
                <div class="menu-title">Классы фотографий</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="PriceSegments" asp-action="Index">
                <div class="menu-title">Ценовые сегменты</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="PtsTypes" asp-action="Index">
                <div class="menu-title">Типы ПТС</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Regions" asp-action="Index">
                <div class="menu-title">Регионы</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Salons" asp-action="Index">
                <div class="menu-title">Салоны</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Sections" asp-action="Index">
                <div class="menu-title">Разделы</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Sellers" asp-action="Index">
                <div class="menu-title">Продавцы</div>
            </a>
        </li>
    </ul>
</div>