<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/images/logo.png" width="32" height="32" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">CatalogCars</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Панель администратора</div>
            </a>
            <ul>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="bx bx-right-arrow-alt"></i>Главная
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>