<!-- Body type selection -->
<section class="container pb-5 mb-md-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-3 mb-sm-4 pb-sm-2">
        <h2 class="h3 text-light mb-2 mb-sm-0">Популярные типы кузова автомобиля</h2><a class="btn btn-link btn-light fw-normal px-0" href="car-finder-catalog-grid.html">Просмотреть все<i class="fi-arrow-long-right fs-sm mt-0 ps-1 ms-2"></i></a>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-md-4">
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/sedan.svg" width="160" alt="Sedan"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">Седан</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/suv.svg" width="160" alt="SUV"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">Внедорожник</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/wagon.svg" width="160" alt="Wagon"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">Фургон</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/crossover.svg" width="160" alt="Crossover"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">Кроссовер</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/coupe.svg" width="160" alt="Coupe"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">Купе</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/pickup.svg" width="160" alt="Pickup"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">Пикап</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/sport.svg" width="160" alt="Sport Coupe"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">Спортивное купе</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/compact.svg" width="160" alt="Compact"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">Компактный</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/convertible.svg" width="160" alt="Convertible"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">Преобразуемый</a></div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center"><img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/mpv.svg" width="160" alt="Family MPV"><a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">Family MPV</a></div>
        </div>
    </div>
</section>