<!-- Body type selection -->
<section class="container pb-5 mb-md-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-3 mb-sm-4 pb-sm-2">
        <h2 class="h3 text-light mb-2 mb-sm-0">Популярные типы кузова автомобиля</h2>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-md-4">
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/sedan.svg" width="160" alt="Седан">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">
                    Седан
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/suv.svg" width="160" alt="Внедорожник">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">
                    Внедорожник
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/wagon.svg" width="160" alt="Универсал">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">
                    Универсал
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/coupe.svg" width="160" alt="Купе">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">
                    Купе
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/pickup.svg" width="160" alt="Пикап">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">
                    Пикап
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/sport.svg" width="160" alt="Лифтбек">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">
                    Лифтбек
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/compact.svg" width="160" alt="Хэтчбек">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">
                    Хэтчбек
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/convertible.svg" width="160" alt="Кабриолет">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-list.html">
                    Кабриолет
                </a>
            </div>
        </div>
        <!-- Item -->
        <div class="col">
            <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                <img class="d-block mx-auto mb-3" src="~/img/car-finder/icons/mpv.svg" width="160" alt="Вэн">
                <a class="nav-link-light stretched-link fw-bold" href="car-finder-catalog-grid.html">
                    Вэн
                </a>
            </div>
        </div>
    </div>
</section>