<!-- Brands -->
<section class="container py-2 py-sm-3">
    <div class="row g-2 g-sm-4">
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/opel.svg" width="86" alt="Opel"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/audi.svg" width="86" alt="Audi"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/mercedes.svg" width="86" alt="Mercedes-Benz"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/toyota.svg" width="86" alt="Toyota"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/mazda.svg" width="86" alt="Mazda"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/nissan.svg" width="86" alt="Nissan"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/hyundai.svg" width="86" alt="Hyundai"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/lexus.svg" width="86" alt="Lexus"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/honda.svg" width="86" alt="Honda"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/renault.svg" width="86" alt="Renault"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/infiniti.svg" width="86" alt="Infiniti"></a></div>
        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto" href="#"><img src="~/img/car-finder/brands/mitsubishi.svg" width="86" alt="Mitsubishi"></a></div>
    </div>
</section>