<!-- Features -->
<section class="container pt-4 pt-md-5">
    <div class="d-sm-flex align-items-center justify-content-between">
        <h2 class="h3 text-light mb-2 mb-sm-0">What sets Finder apart?</h2><a class="btn btn-link btn-light fw-normal px-0" href="#">How to sell cars on Finder<i class="fi-arrow-long-right fs-sm mt-0 ps-1 ms-2"></i></a>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-4 offset-lg-1 pt-4 mt-2 pt-md-5 mt-md-3">
            <div class="d-flex pb-4 pb-md-5 mb-2">
                <i class="fi-file lead text-primary mt-1 order-md-2"></i>
                <div class="text-md-end ps-3 ps-md-0 pe-md-3 order-md-1">
                    <h3 class="h6 text-light mb-1">Over 1 Million Listings</h3>
                    <p class="fs-sm text-light opacity-70 mb-0">That’s more than you’ll find on any other major online automotive marketplace in the USA.</p>
                </div>
            </div>
            <div class="d-flex pb-4 pb-md-5 mb-2">
                <i class="fi-search lead text-primary mt-1 order-md-2"></i>
                <div class="text-md-end ps-3 ps-md-0 pe-md-3 order-md-1">
                    <h3 class="h6 text-light mb-1">Personalized Search</h3>
                    <p class="fs-sm text-light opacity-70 mb-0">Our powerful search makes it easy to personalize your results so you only see the cars and features you care about.</p>
                </div>
            </div>
            <div class="d-flex pb-4 pb-md-5 mb-2">
                <i class="fi-settings lead text-primary mt-1 order-md-2"></i>
                <div class="text-md-end ps-3 ps-md-0 pe-md-3 order-md-1">
                    <h3 class="h6 text-light mb-1">Non-Stop Innovation</h3>
                    <p class="fs-sm text-light opacity-70 mb-0">Our team is constantly developing new features that make the process of buying and selling a car simpler.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-none d-md-block">
            <div class="position-relative mx-auto h-100" style="max-width: 5rem; min-height: 26rem;">
                <div class="content-overlay pt-5" data-jarallax-element="100"><img class="pt-3 mt-5" src="~/img/car-finder/home/car.svg" alt="Car"></div>
                <div class="position-absolute top-0 start-50 translate-middle-x h-100 overflow-hidden"><img src="~/img/car-finder/home/road-line.svg" width="2" alt="Road line"></div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 pt-md-5 mt-md-3">
            <div class="d-flex pb-4 pb-md-5 mb-2">
                <i class="fi-info-circle lead text-primary mt-1"></i>
                <div class="ps-3">
                    <h3 class="h6 text-light mb-1">Valuable Insights</h3>
                    <p class="fs-sm text-light opacity-70 mb-0">We provide free access to key info like dealer reviews, market value, price drops.</p>
                </div>
            </div>
            <div class="d-flex pb-4 pb-md-5 mb-2">
                <i class="fi-users lead text-primary mt-1"></i>
                <div class="ps-3">
                    <h3 class="h6 text-light mb-1">Consumer-First Mentality</h3>
                    <p class="fs-sm text-light opacity-70 mb-0">We focus on building the most transparent, trustworthy experience for our users, and we’ve proven that works for dealers, too.</p>
                </div>
            </div>
            <div class="d-flex pb-4 pb-md-5 mb-2">
                <i class="fi-calculator lead text-primary mt-1"></i>
                <div class="ps-3">
                    <h3 class="h6 text-light mb-1">Online Car Appraisal</h3>
                    <p class="fs-sm text-light opacity-70 mb-0">Specify the parameters of your car to form its market value on the basis of similar cars on Finder.</p>
                </div>
            </div>
        </div>
    </div>
</section>