<!-- Footer -->
<footer class="footer bg-faded-light">
    <div class="border-bottom border-light py-4">
        <div class="container d-sm-flex align-items-center justify-content-between">
            <a class="d-inline-block" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.jpg" width="116" alt="logo"></a>
            <div class="d-flex pt-3 pt-sm-0">
                <div class="dropdown ms-n3">
                    <button class="btn btn-light btn-link btn-sm fw-normal py-2" type="button"><i class="fi-globe me-2"></i>Русский</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light btn-link btn-sm fw-normal py-2 pe-0" type="button"><i class="fi-map-pin me-2"></i>Москва</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4 pb-3 pt-lg-5 pb-lg-4">
        <div class="row pt-2 pt-lg-0">
            <div class="col-lg-3 pb-2 mb-4">
                <h3 class="h5 text-light mb-2">Подпишитесь на нашу рассылку новостей</h3>
                <p class="fs-sm text-light opacity-70">Не пропустите ни одного подходящего предложения!</p>
                <form class="form-group form-group-light w-100">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text"> <i class="fi-mail"></i></span>
                        <input class="form-control" type="text" placeholder="Адрес электронной почты">
                    </div>
                    <button class="btn btn-primary btn-icon btn-sm" type="button"><i class="fi-send"></i></button>
                </form>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 offset-xl-1 mb-2 mb-sm-4">
                <h3 class="fs-base text-light">Покупка и продажа</h3>
                <ul class="list-unstyled fs-sm">
                    <li><a class="nav-link-light" href="#">Найдите машину</a></li>
                    <li><a class="nav-link-light" href="#">Продайте свой автомобиль</a></li>
                    <li><a class="nav-link-light" href="#">Автодилеры</a></li>
                    <li><a class="nav-link-light" href="#">Сравнение автомобилей</a></li>
                    <li><a class="nav-link-light" href="#">Онлайн-оценка автомобиля</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-2 mb-sm-4">
                <h3 class="fs-base text-light">О нас</h3>
                <ul class="list-unstyled fs-sm">
                    <li><a class="nav-link-light" href="#">О CatalogCars</a></li>
                    <li><a class="nav-link-light" href="#">Связаться с нами</a></li>
                    <li><a class="nav-link-light" href="#">Часто задаваемые вопросы и поддержка</a></li>
                    <li><a class="nav-link-light" href="#">Мобильное приложение</a></li>
                    <li><a class="nav-link-light" href="#">Блог</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-2 mb-sm-4">
                <h3 class="fs-base text-light">Профиль</h3>
                <ul class="list-unstyled fs-sm">
                    <li><a class="nav-link-light" href="#">Мой аккаунт</a></li>
                    <li><a class="nav-link-light" href="#">Список желаний</a></li>
                    <li><a class="nav-link-light" href="#">Мои объявления</a></li>
                    <li><a class="nav-link-light" href="#">Добавить список</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6 col-md-3 mb-2 mb-sm-4">
                <a class="d-flex align-items-center text-decoration-none mb-2" href="tel:+79514687912"><i class="fi-device-mobile me-2"></i><span class="text-light">+7 (951) 468-79-12</span></a><a class="d-flex align-items-center text-decoration-none mb-2" href="mailto:andrey.levchenko.2001@gmail.com"><i class="fi-mail me-2"></i><span class="text-light">andrey.levchenko.2001@gmail.com</span></a>
                <div class="d-flex flex-wrap pt-4"><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-telegram"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2" href="#"><i class="fi-messenger"></i></a></div>
            </div>
        </div>
    </div>
    <div class="container d-lg-flex align-items-center justify-content-between fs-sm pb-3">
        <div class="d-flex flex-wrap justify-content-center order-lg-2 mb-3"><a class="nav-link nav-link-light fw-normal" href="#">Условия использования</a><a class="nav-link nav-link-light fw-normal" href="#">Политика конфиденциальности</a><a class="nav-link nav-link-light fw-normal" href="#">Заявление о доступности</a><a class="nav-link nav-link-light fw-normal pe-0" href="#">Объявления, основанные на интересах</a></div>
        <p class="text-center text-lg-start order-lg-1 mb-lg-0"><span class="text-light opacity-50">&copy; Все права защищены. Разработан </span><a class="nav-link-light fw-bold" href="https://github.com/Lev4and" target="_blank" rel="noopener">Lev4and</a></p>
    </div>
</footer>