<!-- Hero + Search form -->
<section class="bg-top-center bg-repeat-0 pt-5" style="background-image: url(img/car-finder/home/hero-bg.png); background-size: 1920px 630px;">
    <div class="container pt-5">
        <div class="row pt-lg-4 pt-xl-5">
            <div class="col-lg-4 col-md-5 pt-3 pt-md-4 pt-lg-5">
                <h1 class="display-4 text-light pb-2 mb-4 me-md-n5">Простой способ найти нужную машину</h1>
                <p class="fs-lg text-light opacity-70">CatalogCars - это ведущий цифровой рынок для автомобильной промышленности, который соединяет покупателей автомобилей с продавцами.</p>
            </div>
            <div class="col-lg-8 col-md-7 pt-md-5"><img class="d-block mt-4 ms-auto" src="~/img/car-finder/home/hero-img.png" width="800" alt="Car"></div>
        </div>
    </div>
    <div class="container mt-4 mt-sm-3 mt-lg-n3 pb-5 mb-md-4">
        @await Component.InvokeAsync(typeof(SearchForm))
    </div>
</section>