<!-- Sign In Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content bg-dark border-light">
            <div class="modal-body px-0 py-2 py-sm-0">
                <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
                <div class="row mx-0 align-items-center">
                    <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                        <h2 class="h3 text-light mb-4 mb-sm-5">Эй, там!<br>С возвращением.</h2><img class="d-block mx-auto" src="~/img/signin-modal/signin-dark.svg" width="344" alt="Illustartion">
                        <div class="text-light mt-4 mt-sm-5"><span class="opacity-60">У вас нет учетной записи? </span><a class="text-light" href="#signup-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Зарегистрируйтесь здесь</a></div>
                    </div>
                    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                        <a class="btn btn-outline-info w-100 mb-3" href="#"><i class="fi-google fs-lg me-1"></i>Войдите с помощью Google</a><a class="btn btn-outline-info w-100 mb-3" href="#"><i class="fi-facebook fs-lg me-1"></i>Войдите с помощью Facebook</a>
                        <div class="d-flex align-items-center py-3 mb-3">
                            <hr class="hr-light w-100">
                            <div class="text-light opacity-70 px-3">Или</div>
                            <hr class="hr-light w-100">
                        </div>
                        <form class="needs-validation" novalidate>
                            <div class="mb-4">
                                <label class="form-label text-light mb-2" for="signin-email">Адрес электронной почты</label>
                                <input class="form-control form-control-light" type="email" id="signin-email" placeholder="Адрес электронной почты" required>
                            </div>
                            <div class="mb-4">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="form-label text-light mb-0" for="signin-password">Пароль</label><a class="fs-sm text-light" href="#">Забыли пароль?</a>
                                </div>
                                <div class="password-toggle">
                                    <input class="form-control form-control-light" type="password" id="signin-password" placeholder="Введите пароль" required>
                                    <label class="password-toggle-btn" aria-label="Показывать/скрывать пароль">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg w-100" type="submit">Войти         </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>