@model List<PopularMark>
<!-- Brands -->
<section class="container py-2 py-sm-3">
    <div class="row g-2 g-sm-4">
        <div class="tns-carousel-wrapper tns-controls-outside tns-nav-outside">
            <div class="tns-carousel-inner" data-carousel-options='{ "items": 5, "nav": false, "controls": false, "autoplay": true, "autoplayTimeout": 1000, "responsive": { "0": { "items": 3 }, "500": { "items": 5, "gutter": 18 }, "768": { "items": 7, "gutter": 20 }, "1100": { "gutter": 24 } } }'>
                @foreach (var mark in Model)
                {
                    <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2">
                        <a class="opacity-40 opacity-transition d-table mx-auto" href="#">
                            <img src="@mark.Logo" width="86" alt="@mark.Name">
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>